In [490]:
import pandas as pd
import numpy as np

In [491]:
space_probs = pd.read_csv('space_prob.csv')
space_probs.head()

   Space (ft3)  Probability
0            1         0.08
1            2         0.12
2            3         0.15
3            4         0.12
4            5         0.08

In [492]:
demand_share_4_weeks = pd.read_csv('4-week_demand_share.csv').T
demand_share_4_weeks.columns = ['mean_demand_share_4_weeks']
demand_share_4_weeks.reset_index(inplace=True)
demand_share_4_weeks.drop('index', axis=1, inplace=True)
demand_share_4_weeks

    mean_demand_share_4_weeks
0                        0.06
1                        0.05
2                        0.06
3                        0.07
4                        0.09
5                        0.06
6                        0.04
7                        0.10
8                        0.10
9                        0.06
10                       0.08
11                       0.10
12                       0.13

In [493]:
Cv_4_week = 0.3
np.random.seed(42)

demand_share_4_weeks['sigma_4_weeks'] = Cv_4_week * demand_share_4_weeks['mean_demand_share_4_weeks']
for i in range(len(demand_share_4_weeks)):
    demand_share_4_weeks.loc[i, 'net_4_weeks_demand'] = np.random.normal(demand_share_4_weeks.loc[i, 'mean_demand_share_4_weeks'], demand_share_4_weeks.loc[i, 'sigma_4_weeks'])
demand_share_4_weeks['net_4_weeks_demand'] = demand_share_4_weeks['net_4_weeks_demand']/sum(demand_share_4_weeks['net_4_weeks_demand'])

In [494]:
daily_demand_share = pd.read_csv('demand_share_per_day.csv').T
daily_demand_share.columns = ['mean_demand_share_per_day']
daily_demand_share.reset_index(inplace=True)
daily_demand_share.drop('index', axis=1, inplace=True)
daily_demand_share

   mean_demand_share_per_day
0                       0.05
1                       0.10
2                       0.15
3                       0.15
4                       0.18
5                       0.22
6                       0.15

In [495]:
Cv_per_day = 0.2
np.random.seed(42)

daily_demand_share['sigma_per_day'] = Cv_per_day * daily_demand_share['mean_demand_share_per_day']
for i in range(len(daily_demand_share)):
    daily_demand_share.loc[i, 'net_daily_demand'] = np.random.normal(daily_demand_share.loc[i, 'mean_demand_share_per_day'], daily_demand_share.loc[i, 'sigma_per_day'])
daily_demand_share

   mean_demand_share_per_day  sigma_per_day  net_daily_demand
0                       0.05          0.010          0.054967
1                       0.10          0.020          0.097235
2                       0.15          0.030          0.169431
3                       0.15          0.030          0.195691
4                       0.18          0.036          0.171570
5                       0.22          0.044          0.209698
6                       0.15          0.030          0.197376

In [496]:
daily_demand_share_4_weeks = daily_demand_share.copy()
for i in range(3):
    daily_demand_share_4_weeks = pd.concat([daily_demand_share_4_weeks, daily_demand_share], ignore_index=True, axis=0)
daily_demand_share_4_weeks

    mean_demand_share_per_day  sigma_per_day  net_daily_demand
0                        0.05          0.010          0.054967
1                        0.10          0.020          0.097235
2                        0.15          0.030          0.169431
3                        0.15          0.030          0.195691
4                        0.18          0.036          0.171570
5                        0.22          0.044          0.209698
6                        0.15          0.030          0.197376
7                        0.05          0.010          0.054967
8                        0.10          0.020          0.097235
9                        0.15          0.030          0.169431
10                       0.15          0.030          0.195691
11                       0.18          0.036          0.171570
12                       0.22          0.044          0.209698
13                       0.15          0.030          0.197376
14                       0.05          0.010          0.054967
15                       0.10          0.020          0.097235
16                       0.15          0.030          0.169431
17                       0.15          0.030          0.195691
18                       0.18          0.036          0.171570
19                       0.22          0.044          0.209698
20                       0.15          0.030          0.197376
21                       0.05          0.010          0.054967
22                       0.10          0.020          0.097235
23                       0.15          0.030          0.169431
24                       0.15          0.030          0.195691
25                       0.18          0.036          0.171570
26                       0.22          0.044          0.209698
27                       0.15          0.030          0.197376

In [497]:
four_weekly_facs = [f for f in demand_share_4_weeks['net_4_weeks_demand'] for _ in range(28)]
len(four_weekly_facs)

364

In [498]:
len(list(daily_demand_share_4_weeks['net_daily_demand'])*13)

364

In [499]:
yearly_probs = pd.DataFrame({'four_weekly_facs': four_weekly_facs, 'daily_demand_share_4_weeks': list(daily_demand_share_4_weeks['net_daily_demand'])*13})
yearly_probs['yearly_prob'] = yearly_probs['four_weekly_facs'] * yearly_probs['daily_demand_share_4_weeks']
yearly_probs

     four_weekly_facs  daily_demand_share_4_weeks  yearly_prob
0            0.064918                    0.054967     0.003568
1            0.064918                    0.097235     0.006312
2            0.064918                    0.169431     0.010999
3            0.064918                    0.195691     0.012704
4            0.064918                    0.171570     0.011138
..                ...                         ...          ...
359          0.131300                    0.169431     0.022246
360          0.131300                    0.195691     0.025694
361          0.131300                    0.171570     0.022527
362          0.131300                    0.209698     0.027533
363          0.131300                    0.197376     0.025915

[364 rows x 3 columns]

In [500]:
sum(yearly_probs['yearly_prob'])

4.383872976845471

In [501]:
yearly_probs['yearly_prob'] = yearly_probs['yearly_prob'] / sum(yearly_probs['yearly_prob'])
yearly_probs

     four_weekly_facs  daily_demand_share_4_weeks  yearly_prob
0            0.064918                    0.054967     0.000814
1            0.064918                    0.097235     0.001440
2            0.064918                    0.169431     0.002509
3            0.064918                    0.195691     0.002898
4            0.064918                    0.171570     0.002541
..                ...                         ...          ...
359          0.131300                    0.169431     0.005075
360          0.131300                    0.195691     0.005861
361          0.131300                    0.171570     0.005139
362          0.131300                    0.209698     0.006281
363          0.131300                    0.197376     0.005912

[364 rows x 3 columns]

In [502]:
annaul_demand_forecast = pd.read_csv("annual demand forecast.csv")
annaul_demand_forecast = annaul_demand_forecast.rename(columns={'1': "Year_1", '2': "Year_2", '3': "Year_3", '4': "Year_4", '5': "Year_5"})
annaul_demand_forecast

   Scenario  Probability  Year_1  Year_2  Year_3  Year_4  Year_5
0         1         0.30   80000   90000  100000  105000  110000
1         2         0.25   60000   65000   70000   80000   90000
2         3         0.20   80000  100000  110000  120000  150000
3         4         0.15   50000   70000   75000   75000   65000
4         5         0.10   50000   60000   60000   60000   60000

In [503]:
demand_breakdown = annaul_demand_forecast[['Year_1', 'Year_2', 'Year_3', 'Year_4', 'Year_5']].copy()
demand_breakdown = demand_breakdown.loc[demand_breakdown.index.repeat(364)]
demand_breakdown.reset_index(inplace=True)
#demand_breakdown.drop('index', axis=1, inplace=True)
demand_breakdown.rename(columns={'index': 'scenario'}, inplace=True)
demand_breakdown

      scenario  Year_1  Year_2  Year_3  Year_4  Year_5
0            0   80000   90000  100000  105000  110000
1            0   80000   90000  100000  105000  110000
2            0   80000   90000  100000  105000  110000
3            0   80000   90000  100000  105000  110000
4            0   80000   90000  100000  105000  110000
...        ...     ...     ...     ...     ...     ...
1815         4   50000   60000   60000   60000   60000
1816         4   50000   60000   60000   60000   60000
1817         4   50000   60000   60000   60000   60000
1818         4   50000   60000   60000   60000   60000
1819         4   50000   60000   60000   60000   60000

[1820 rows x 6 columns]

In [504]:
#demand_breakdown['Year_1'] *= (list(yearly_probs['yearly_prob'])*5)

# for col in ['Year_1', 'Year_2', 'Year_3', 'Year_4', 'Year_5']:
#     demand_breakdown[col] *= (list(yearly_probs['yearly_prob'])*5)
        
demand_breakdown

      scenario  Year_1  Year_2  Year_3  Year_4  Year_5
0            0   80000   90000  100000  105000  110000
1            0   80000   90000  100000  105000  110000
2            0   80000   90000  100000  105000  110000
3            0   80000   90000  100000  105000  110000
4            0   80000   90000  100000  105000  110000
...        ...     ...     ...     ...     ...     ...
1815         4   50000   60000   60000   60000   60000
1816         4   50000   60000   60000   60000   60000
1817         4   50000   60000   60000   60000   60000
1818         4   50000   60000   60000   60000   60000
1819         4   50000   60000   60000   60000   60000

[1820 rows x 6 columns]

In [505]:
dict(annaul_demand_forecast['Probability'])

{0: 0.3, 1: 0.25, 2: 0.2, 3: 0.15, 4: 0.1}

In [506]:
demand_breakdown['Probability'] = demand_breakdown['scenario'].map(dict(annaul_demand_forecast['Probability']))
demand_breakdown

      scenario  Year_1  Year_2  Year_3  Year_4  Year_5  Probability
0            0   80000   90000  100000  105000  110000          0.3
1            0   80000   90000  100000  105000  110000          0.3
2            0   80000   90000  100000  105000  110000          0.3
3            0   80000   90000  100000  105000  110000          0.3
4            0   80000   90000  100000  105000  110000          0.3
...        ...     ...     ...     ...     ...     ...          ...
1815         4   50000   60000   60000   60000   60000          0.1
1816         4   50000   60000   60000   60000   60000          0.1
1817         4   50000   60000   60000   60000   60000          0.1
1818         4   50000   60000   60000   60000   60000          0.1
1819         4   50000   60000   60000   60000   60000          0.1

[1820 rows x 7 columns]

In [507]:
# To confirm the sums add up to what is in table
demand_breakdown['Year_1'].groupby(by=demand_breakdown['scenario']).sum()

scenario
0    29120000
1    21840000
2    29120000
3    18200000
4    18200000
Name: Year_1, dtype: int64

In [508]:
hourly_records = pd.read_csv('hourly_records.csv')
hourly_records.drop('Unnamed: 0', axis=1, inplace=True)
hourly_records

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,30,20,4,4,4,10,20,24,32,20,...,0,0,0,0,0,0,0,0,0,0
1,0,24,12,6,4,10,20,24,32,20,...,0,0,0,0,0,0,0,0,0,0
2,0,0,12,6,3,5,10,12,16,10,...,2,0,0,0,0,0,0,0,0,0
3,0,0,0,12,6,3,10,12,16,10,...,4,3,0,0,0,0,0,0,0,0
4,0,0,0,0,36,24,30,36,48,30,...,12,9,0,0,0,0,0,0,0,0
5,0,0,0,0,0,36,45,45,48,30,...,12,9,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,60,60,72,44,...,16,16,20,12,0,0,0,0,0,0
7,0,0,0,0,0,0,0,72,100,48,...,16,16,20,16,12,0,0,0,0,0
8,0,0,0,0,0,0,0,0,150,120,...,24,24,30,24,18,18,0,0,0,0
9,0,0,0,0,0,0,0,0,0,120,...,24,24,36,42,30,18,12,12,0,0
10,0,0,0,0,0,0,0,0,0,0,...,30,24,36,42,30,18,12,12,0,0
11,0,0,0,0,0,0,0,0,0,0,...,48,36,36,48,30,18,12,12,12,0
12,0,0,0,0,0,0,0,0,0,0,...,40,32,32,40,40,12,8,8,4,4
13,0,0,0,0,0,0,0,0,0,0,...,108,60,48,60,60,60,36,24,18,6
14,0,0,0,0,0,0,0,0,0,0,...,160,144,112,112,80,80,48,32,24,8
15,0,0,0,0,0,0,0,0,0,0,...,0,120,120,120,90,66,36,24,18,6
16,0,0,0,0,0,0,0,0,0,0,...,0,0,120,150,120,90,48,36,24,12
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,120,180,120,84,60,24,12
18,0,0,0,0,0,0,10,40,20,10,...,0,0,0,0,100,120,100,70,20,10
19,5,0,0,0,0,0,15,50,40,15,...,0,0,0,0,0,100,150,75,35,15
20,8,0,0,0,0,0,20,60,40,12,...,0,0,0,0,0,0,80,100,40,20
21,10,4,0,0,0,0,12,36,30,8,...,0,0,0,0,0,0,0,30,40,20
22,20,10,4,0,0,0,12,36,30,8,...,0,0,0,0,0,0,0,0,30,40
23,30,14,6,0,0,0,16,40,36,16,...,0,0,0,0,0,0,0,0,0,30

[3, 10], [6, 10], [12, 5], [18, 3]

In [509]:
hourly_demand = hourly_records/10000
hourly_demand

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,0.0030,0.0020,0.0004,0.0004,0.0004,0.0010,0.0020,0.0024,0.0032,0.0020,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
1,0.0000,0.0024,0.0012,0.0006,0.0004,0.0010,0.0020,0.0024,0.0032,0.0020,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2,0.0000,0.0000,0.0012,0.0006,0.0003,0.0005,0.0010,0.0012,0.0016,0.0010,...,0.0002,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
3,0.0000,0.0000,0.0000,0.0012,0.0006,0.0003,0.0010,0.0012,0.0016,0.0010,...,0.0004,0.0003,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
4,0.0000,0.0000,0.0000,0.0000,0.0036,0.0024,0.0030,0.0036,0.0048,0.0030,...,0.0012,0.0009,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
5,0.0000,0.0000,0.0000,0.0000,0.0000,0.0036,0.0045,0.0045,0.0048,0.0030,...,0.0012,0.0009,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
6,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0060,0.0060,0.0072,0.0044,...,0.0016,0.0016,0.0020,0.0012,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
7,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0072,0.0100,0.0048,...,0.0016,0.0016,0.0020,0.0016,0.0012,0.0000,0.0000,0.0000,0.0000,0.0000
8,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0150,0.0120,...,0.0024,0.0024,0.0030,0.0024,0.0018,0.0018,0.0000,0.0000,0.0000,0.0000
9,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0120,...,0.0024,0.0024,0.0036,0.0042,0.0030,0.0018,0.0012,0.0012,0.0000,0.0000
10,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0030,0.0024,0.0036,0.0042,0.0030,0.0018,0.0012,0.0012,0.0000,0.0000
11,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0048,0.0036,0.0036,0.0048,0.0030,0.0018,0.0012,0.0012,0.0012,0.0000
12,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0040,0.0032,0.0032,0.0040,0.0040,0.0012,0.0008,0.0008,0.0004,0.0004
13,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0108,0.0060,0.0048,0.0060,0.0060,0.0060,0.0036,0.0024,0.0018,0.0006
14,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0160,0.0144,0.0112,0.0112,0.0080,0.0080,0.0048,0.0032,0.0024,0.0008
15,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0120,0.0120,0.0120,0.0090,0.0066,0.0036,0.0024,0.0018,0.0006
16,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0120,0.0150,0.0120,0.0090,0.0048,0.0036,0.0024,0.0012
17,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0120,0.0180,0.0120,0.0084,0.0060,0.0024,0.0012
18,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0010,0.0040,0.0020,0.0010,...,0.0000,0.0000,0.0000,0.0000,0.0100,0.0120,0.0100,0.0070,0.0020,0.0010
19,0.0005,0.0000,0.0000,0.0000,0.0000,0.0000,0.0015,0.0050,0.0040,0.0015,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0100,0.0150,0.0075,0.0035,0.0015
20,0.0008,0.0000,0.0000,0.0000,0.0000,0.0000,0.0020,0.0060,0.0040,0.0012,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0080,0.0100,0.0040,0.0020
21,0.0010,0.0004,0.0000,0.0000,0.0000,0.0000,0.0012,0.0036,0.0030,0.0008,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0030,0.0040,0.0020
22,0.0020,0.0010,0.0004,0.0000,0.0000,0.0000,0.0012,0.0036,0.0030,0.0008,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0030,0.0040
23,0.0030,0.0014,0.0006,0.0000,0.0000,0.0000,0.0016,0.0040,0.0036,0.0016,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0030

In [510]:
df_scenario = annaul_demand_forecast[['Scenario', 'Probability']]
df_scenario

   Scenario  Probability
0         1         0.30
1         2         0.25
2         3         0.20
3         4         0.15
4         5         0.10

In [515]:
def daily_simulation(day, daily_demand_df = yearly_probs, demand_df = demand_breakdown, scenario_df = df_scenario, hourly_demand_df = hourly_demand, size_df = space_probs):
    '''
    With a random probability, a scenario is chosen. Then use the scenario to choose the demand breakdown. So we get 5 years of demand breakdown.Choose a year. 


    '''
    scenario = np.random.choice(scenario_df['Scenario'].values, p=scenario_df['Probability'].values)
    year = np.random.choice([1,2,3,4,5])
    # day = np.random.choice(list(range(364)))
    
    size = np.random.choice(size_df['Space (ft3)'].values, p=size_df['Probability'].values)

    # non_zero_indices = np.nonzero(hourly_demand_df.values)
    # random_index = np.random.choice(len(non_zero_indices[0]))
    # deposit = non_zero_indices[0][random_index]
    # pickup = non_zero_indices[1][random_index]

    demand = demand_df.loc[demand_df['scenario'] == scenario, f'Year_{year}']* daily_demand_df.loc[day, 'yearly_prob']
    demand = demand.reset_index(drop=True)
    #print(demand)
    daily_demand = np.ceil(demand[day])
    #print(daily_demand)
    
    demand_yet = 0
    demand_instances = []
    while demand_yet <= daily_demand:
        # non_zero_indices = np.nonzero(hourly_demand_df.values)
        probs = np.array(hourly_demand_df).flatten()
        times = [(i,j) for i in range(24) for j in range(24)]
        (deposit, pickup) = times[np.random.choice(len(times), p = probs)]
        # random_index = np.random.choice(len(non_zero_indices[0]))
        # deposit = non_zero_indices[0][random_index]
        # pickup = non_zero_indices[1][random_index]
        size = np.random.choice(size_df['Space (ft3)'].values, p=size_df['Probability'].values)
        demand_order = np.ceil(demand[day]*hourly_demand_df.iloc[deposit, pickup])
        demand_yet += demand_order
        demand_instances.append([deposit, pickup, size,demand_order])


    return demand_instances

In [516]:
orders = daily_simulation(1)
orders.sort(key=lambda x: x[0])
orders

[[0, 7, 1, 1.0],
 [0, 1, 4, 1.0],
 [0, 2, 8, 1.0],
 [0, 2, 11, 1.0],
 [0, 0, 6, 1.0],
 [1, 10, 16, 1.0],
 [1, 10, 3, 1.0],
 [2, 8, 2, 1.0],
 [2, 9, 4, 1.0],
 [2, 7, 12, 1.0],
 [2, 11, 5, 1.0],
 [3, 8, 4, 1.0],
 [4, 14, 1, 1.0],
 [4, 5, 4, 1.0],
 [4, 4, 13, 1.0],
 [5, 12, 4, 1.0],
 [5, 5, 3, 1.0],
 [6, 16, 2, 1.0],
 [7, 11, 4, 1.0],
 [8, 19, 6, 1.0],
 [8, 10, 14, 1.0],
 [9, 18, 2, 1.0],
 [9, 9, 4, 2.0],
 [9, 13, 12, 1.0],
 [9, 10, 14, 1.0],
 [9, 10, 5, 1.0],
 [9, 10, 3, 1.0],
 [10, 11, 3, 2.0],
 [11, 17, 13, 1.0],
 [11, 14, 4, 1.0],
 [11, 11, 2, 2.0],
 [12, 12, 4, 1.0],
 [12, 23, 6, 1.0],
 [12, 15, 7, 1.0],
 [12, 13, 4, 1.0],
 [12, 16, 13, 1.0],
 [13, 18, 7, 1.0],
 [13, 22, 8, 1.0],
 [13, 18, 9, 1.0],
 [13, 17, 6, 1.0],
 [13, 18, 3, 1.0],
 [13, 17, 5, 1.0],
 [13, 17, 14, 1.0],
 [14, 17, 18, 2.0],
 [14, 14, 5, 2.0],
 [14, 15, 5, 2.0],
 [14, 16, 11, 2.0],
 [14, 18, 14, 1.0],
 [14, 16, 8, 2.0],
 [14, 14, 12, 2.0],
 [15, 19, 1, 1.0],
 [15, 17, 4, 2.0],
 [15, 15, 3, 2.0],
 [16, 20, 2, 1.0],
 [16, 22, 5, 1.0],
 [16, 18, 6, 2.0],
 [16, 21, 5, 1.0],
 [16, 17, 2, 2.0],
 [17, 21, 9, 1.0],
 [17, 17, 1, 2.0],
 [17, 18, 3, 2.0],
 [18, 20, 3, 1.0],
 [18, 20, 2, 1.0],
 [18, 19, 11, 2.0],
 [19, 20, 5, 2.0],
 [19, 21, 12, 1.0],
 [19, 21, 18, 1.0],
 [19, 19, 3, 1.0],
 [19, 20, 16, 2.0],
 [20, 21, 1, 1.0],
 [20, 21, 9, 1.0],
 [20, 21, 2, 1.0],
 [21, 22, 10, 1.0],
 [22, 1, 2, 1.0],
 [23, 7, 1, 1.0],
 [23, 0, 13, 1.0],
 [23, 7, 9, 1.0],
 [23, 10, 13, 1.0]]

In [517]:
import copy
def evaluation(day, n_sims = 5):
    locker_size_dict = {3: 10, 6: 10, 12: 4, 18: 3}
    locker_sizes = list(locker_size_dict.keys())
    locker_dict = {locker_size: [locker_size_dict[locker_size] for _ in range(24)] for locker_size in locker_sizes}

    rejection_rates = []
    acceptance_rates = []
    rejection_count = {locker_size: 0 for locker_size in range(1,19)}
    soujorns = {locker_size: 0 for locker_size in locker_sizes}
    utilization = {locker_size: 0 for locker_size in locker_sizes}
    for i in range(n_sims):
        locker_dict_copy = copy.deepcopy(locker_dict)
        orders = daily_simulation(day)
        orders.sort(key=lambda x: x[0])
        #print(f'Len orders = {len(orders)}')
        
        rejected_orders = []
        for order in orders:
            deposit_time = order[0]
            pickup_time = order[1]
            order_size = order[2]
            order_qty = order[3]
            # print(len(orders))

            # smallest_size_greater_than_order = [locker_size for locker_size in locker_sizes if locker_size >= order_size][0]
            # next_available_size = [locker_size for locker_size in locker_sizes if locker_size >= order_size][1] if len([locker_size for locker_size in locker_sizes if locker_size > order_size]) > 1 else None
            # second_available_size = [locker_size for locker_size in locker_sizes if locker_size >= order_size][2] if len([locker_size for locker_size in locker_sizes if locker_size > order_size]) > 2 else None
            
            eligible_lockers = [locker_size for locker_size in locker_sizes if locker_size >= order_size]

            dos = int(pickup_time-deposit_time) if pickup_time >= deposit_time else 24 - deposit_time
            for l in eligible_lockers:
                if all(locker_dict_copy[l][deposit_time:deposit_time+dos+1]) >= order_qty:
                    locker_dict_copy[l][deposit_time:deposit_time+dos] -= np.full(dos, np.ceil(order_qty))
                    soujorns[l] += dos/(n_sims*len(orders))
                    break

            else:
                rejected_orders.append(order)
                rejection_count[order_size] += 1
                #print(f'rejected order {order}')
                #break
        #print(locker_dict_copy)
            # if all(locker_dict_copy[smallest_size_greater_than_order][deposit_time:pickup_time]) >= order_qty:
            #     locker_dict_copy[smallest_size_greater_than_order][deposit_time:deposit_time+dos] -= np.full(dos, int(order_qty))
            #     soujorns[smallest_size_greater_than_order] += dos/(n_sims*len(orders))
            
            # elif next_available_size and all(locker_dict_copy[next_available_size][deposit_time:pickup_time]) >= order_qty:
            #     locker_dict_copy[next_available_size][deposit_time:deposit_time+dos] -= np.full(dos, int(order_qty))
            #     soujorns[next_available_size] += dos/(n_sims*len(orders))
            
            # elif second_available_size and all(locker_dict_copy[second_available_size][deposit_time:pickup_time]) >= order_qty:
            #     locker_dict_copy[second_available_size][deposit_time:deposit_time+dos] -= np.full(dos, int(order_qty))
            #     soujorns[second_available_size] += dos/(n_sims*len(orders))

                
        #print(f'Length rejected orders: {len(rejected_orders)}')
        rejection_rate = len(rejected_orders)/len(orders)
        rejection_rates.append(rejection_rate)
        acceptance_rate = 1 - rejection_rate
        acceptance_rates.append(acceptance_rate)
        
        for locker in locker_dict_copy.keys():
            utilization[locker] += np.mean(np.full(24, locker_dict[locker]) - locker_dict_copy[locker])/ locker_dict[locker]
            # utilization[locker] = utilization[locker][0]

    for sk in soujorns.keys():
        soujorns[sk] = np.round(soujorns[sk],2)
        
    for i in range(1,19):
        rejection_count[i] = np.round(rejection_count[i]/(n_sims),2)

    for locker in locker_dict.keys():
        utilization[locker] = np.round(utilization[locker]/n_sims,2)
        utilization[locker] = utilization[locker][0]
    
    rejection = np.round(np.mean(rejection_rates),2)
    service_level = np.round(np.mean(acceptance_rates),2)

    return rejection, service_level, utilization, soujorns, rejection_count

In [520]:
rej, service, util, dos, rej_cnt = evaluation(8, n_sims=10)
print("Reject rate: ", rej)
print("Service level: ", service)
print("Utilization: ", util)
print("Avg Soujorn: ", dos)
print("Rejection count: ", rej_cnt)

Reject rate:  0.38
Service level:  0.62
Utilization:  {3: 0.28, 6: 0.2, 12: 0.48, 18: 0.36}
Avg Soujorn:  {3: 0.89, 6: 0.64, 12: 0.62, 18: 0.35}
Rejection count:  {1: 2.3, 2: 3.5, 3: 4.1, 4: 2.7, 5: 2.7, 6: 1.9, 7: 1.2, 8: 1.6, 9: 1.8, 10: 1.1, 11: 2.1, 12: 0.7, 13: 0.9, 14: 1.1, 15: 0.2, 16: 0.7, 17: 0.4, 18: 0.3}